html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
}

.titleCash {

    color: yellowgreen;
}

.titOut {
    font-family: "Bookman Old Style";
    color: #353941;
}

.cord {
    border: solid 1px black;
}

.space {
    height: 3em;
}

.moreSpace {
    height: 60em;
}

.show {
    border: solid 1px black;
}

/*Background picture*/
.titlePic {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.titlePic img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    opacity: 0.4;
}

.backColor {
    background-color: #F5F5F5;
    opacity: 1;
}

.fullBudget {
    font-size: 2em;
}

.centerThings {
    align-content: center;
    align-self: center;
    alignment: center;
    align-items: center;
    child-align: middle;
    margin: 0 auto;
}

.fullBack {
    background-color: #353941;
}

.graphBack {
    background-color: #F5F5F5;
    align-content: center;
    text-align: center;
}

.backImage {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url("../dollabills.jpeg");

}