.head {
    color: lawngreen !important;
    font-size: 2em !important;
}

.name {
    color: lawngreen !important;
}

.bgC {
    background-color: #353941 !important;
}

.navT {
    position: fixed;
    z-index: 10;
    width: 100%
}